{% block paragraph %}
  <div class="slider-wrapper">
    <div class="container-fluid">
      <div{{ attributes }}>
        {% block content %}
          {% if content.field_paragraph_title is not empty %}
            <div><h2 id="{{ title_attributes.id|clean_class }}" class="{{ title_attributes.class }}">{{ content.field_paragraph_title|render|striptags|trim }}</h2></div>
          {% endif %}
          <div class="leistungen slider">
            {{ content.field_leistungen }}
          </div>
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock paragraph %}
