{%
  set classes = [
  'team',
  'row',
]
%}
  <div{{ attributes.addClass(classes) }}>
      <div class="col-12 col-md-8 image">
          <img class="img-fluid" alt="{{ content.field_bild[0]['#item'].alt }}"  src="{{ file_url(content.field_bild[0]['#item'].entity.uri.value) }}">
      </div>
      <div class="col-12 col-md-4 content">
        {{ content.field_text }}
      </div>
      {{ content|without('field_bild','field_text') }}
  </div>
